body{
    background: white;
}


table {
    background-color: pink;
    border-spacing: 6px;
    font-variant: normal;
    border:3px solid black;
}
button {
    background-color: green;
    color: blue;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    text-indent: 2px;
    background-color: white;
    padding: 5px 10px;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
}
.calculator_grid{
  background-color:white;
}
input[type="text" i] {
    padding: 10px 20px;
    border-color:black;
    border-bottom: 10px;
    padding: left 1px;
    border:3px solid black;
    background-color: wheat;
}
.redbtn{
    color: red; position: relative;
    background-color: aqua;
}
.bluebtn{
    background-color: aqua;
}

#zero{
    padding-right:30px;
    padding-left: 30px;
    padding-top: 5px;
}